<h1>Add a Venue</h1>

<form action="/venue/list" method="post">
  <label for="venue-name">New Venue</label>
  <input type="text" name="venue-name" class="form-control">
  <button type="submit" class="btn" name="button">Add Venue</button>
</form>

<a href="/venue/list">View Venues</a>
<a href="/">HomePage</a>
